@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0, 100%, 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 0 100% 50%;
    --chart-1: 0 100% 50%;
    --chart-2: 39 100% 50%;
    --chart-3: 200 100% 50%;
    --chart-4: 280 100% 50%;
    --chart-5: 340 100% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 100% 50%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 39 100% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 100% 50%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 216, 100%, 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 216, 100%, 40%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 0 100% 50%;
    --chart-1: 0 100% 50%;
    --chart-2: 39 100% 50%;
    --chart-3: 200 100% 50%;
    --chart-4: 280 100% 50%;
    --chart-5: 340 100% 50%;
    --sidebar-background: 0 0% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 100% 50%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 39 100% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 100% 50%;
  }
}


body {
  font-family: var(--font-IRANSansXV), sans-serif;
}


@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}